*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(30deg, rgba(2,0,36,1) 0%, rgba(9,48,121,1) 35%, rgba(229,0,255,1) 100%);
    /* background: linear-gradient(162deg, transparent 0%, rgba(211,93,245,0.43) 100%),
            linear-gradient(12deg, #f25fca 0%, #855af3 47.422%, #f773de 63.674%, #7863f6 90.396%, #f7a2d6 100%);
            background: radial-gradient(at 82% 81%, rgba(175,149,212,0.58) 0%, transparent 100%) 43% 53%/177% 164%,
            linear-gradient(247deg, #d8aabf 0%, #d091a6 100%); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.hero h1{
    
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;

}
textarea{
    width: 600px;
    height: 250px;
    /* background: radial-gradient(transparent 0%, #000000 100%);
    background: linear-gradient(355deg, rgba(141,107,193,0.81) 0%, transparent 18.464%, rgba(154,120,202,0.7) 48.586%, #6173c2 100%),
            conic-gradient(from 54deg at 76% 30%, #9446c0 0%, #708bcd 100%) 94% 45%/158% 181%; */
    background-color:  rgba(154,120,202,0.7);
    color: #fff;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 15px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}
textarea::placeholder{
    font-size: 16px;
    color: #ddd;
}
.row{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}
button{
    background: #ff2963;
    height: 50PX;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}
button img{
    width: 16px;
    margin-right: 10px;
    
}
select{
    flex: 1;
    color: #fff;
    background-color: rgba(154,120,202,0.7);
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    appearance: none;
    background-image: url(dropdown.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: calc(100% - 20px) ;
    background-position-y: 20px;
}